#foot{
    width: auto;
    background-color: black;
    padding-left: 15%;
}

.collapsible {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  .content{
      display: flex;
      margin: auto;
      padding: auto;
  }
  .ft{
      width: 12%;
      font-size: 20px;
      color: white;
      
  }
  .ft a{
      font-size: 19px;
      color: white;
      
  }