#a{
    width: auto;
    height: 30px;
    border: 1px black;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-left: 15%;
    padding-right: 40%;
}
#b{
    width: auto;
    height: 110px;
    border: 1px black;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 40px;
}
#c {
width: auto;
    height: 40px;
    border: 1px black;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-left: 15%;
    padding-right: 28%;
    background-color: #a00606;
    font-size: 23px;
    color: #ddd6d6;
}